In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv('bitcoindataset.csv')

In [8]:
df.describe()

,Unnamed: 0,Open,High,Low,Close,Volume
count,658065.000000,658065.000000,658065.000000,658065.000000,658065.000000,658065.000000
mean,329032.000000,19816.056864,19828.754551,19803.078994,19816.127876,1.552492
std,189967.146784,16737.625576,16750.786597,16723.509939,16737.677688,6.235548
min,0.000000,3935.290000,3939.260000,3901.250000,3935.290000,0.000000
25%,164516.000000,9177.940000,9180.000000,9176.310000,9177.940000,0.022162
50%,329032.000000,10936.110000,10939.210000,10932.980000,10936.150000,0.189712
75%,493548.000000,25741.490000,25755.150000,25724.100000,25743.160000,1.023481
max,658064.000000,64890.000000,64900.000000,64775.620000,64890.000000,1043.579964

In [5]:
df.head(10)

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume
0,0,2021-04-20,BTCUSD,55717.47,55723.00,55541.69,55541.69,2.406734
1,1,2021-04-20,BTCUSD,55768.94,55849.82,55711.74,55717.47,0.573458
2,2,2021-04-20,BTCUSD,55691.79,55793.15,55691.79,55768.94,3.309904
3,3,2021-04-19,BTCUSD,55777.86,55777.86,55677.92,55691.79,0.684934
4,4,2021-04-19,BTCUSD,55803.50,55823.88,55773.08,55777.86,0.477225
5,5,2021-04-19,BTCUSD,55690.64,55822.91,55682.56,55803.50,5.461717
6,6,2021-04-19,BTCUSD,55624.69,55713.02,55624.63,55690.64,0.696311
7,7,2021-04-19,BTCUSD,55651.82,55675.92,55621.58,55624.69,0.470161
8,8,2021-04-19,BTCUSD,55688.08,55730.21,55641.40,55651.82,0.456722
9,9,2021-04-19,BTCUSD,55749.28,55749.28,55688.08,55688.08,0.286419

In [18]:
df.drop('Unnamed: 0', 1)
df.set_index("Date", inplace = True)
data = df.reset_index().melt('Date')
data.head(100)

          Date    variable value
0   2021-04-20  Unnamed: 0     0
1   2021-04-20  Unnamed: 0     1
2   2021-04-20  Unnamed: 0     2
3   2021-04-19  Unnamed: 0     3
4   2021-04-19  Unnamed: 0     4
..         ...         ...   ...
95  2021-04-19  Unnamed: 0    95
96  2021-04-19  Unnamed: 0    96
97  2021-04-19  Unnamed: 0    97
98  2021-04-19  Unnamed: 0    98
99  2021-04-19  Unnamed: 0    99

[100 rows x 3 columns]

In [19]:
alt.Chart(data).mark_line().encode(
    x='x',
    y='value',
    color='variable'
)

chart = alt.Chart(df, title = "BTC Price").mark_point().encode(
    x='Date',
    y='value',
    color='variable',
)

chart.encoding.x.title = 'Date'
chart.encoding.y.title = 'Stock Price'

chart

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000). For information on how to plot larger datasets in Altair, see the documentation

alt.Chart(...)